@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'GeistMono';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/GeistMono[wght].ttf') format('truetype');
}

@font-face {
	font-family: 'Geist';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/Geist[wght].ttf') format('truetype');
}

@theme {
	--font-geist-mono: 'GeistMono', 'Courier New', monospace;
	--font-geist:
		'Geist', system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
		sans-serif;
}
